@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: fixed; /* 무조건 body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    fill: var(--color-white); /* svg 아이콘 색상 */
    display: flex; /* logo - gnb - util 좌우 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-margin); /* 위아래-좌우 */
}
header .logo a {
    display: block;
    width: 200px;
    height: 30px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
header .util {
    display: flex; /* search-mypage 좌우배치 */
}
header .util .search .sch_open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}
header .util .search .sch_open i {
    display: block;
    width: 17.58px;
}
header .util .mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}
header .util .mypage i {
    display: block;
    width: 18px;
}
/************************* 시작 : pc버전 메뉴 ************************************/
/* 1024이하는 메뉴가 접힘..  1025이상일때 스타일 */
@media screen and (min-width:1025px){
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close {
        display: none; /* 모바일에서만 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li를 좌우로 배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* depth2 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 22px;
        font-weight: var(--font-weight-bold);
        line-height: var(--header-h);
        padding: 0 1.3636em;
        white-space: nowrap; 
        /* 행간이 높아서 2줄이 되면 이상함. 그래서 무조건 1줄로 나오게함 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute; /* li를 기준으로 정렬 */
        left: 50%; /* li 넓이의 50% */
        transform: translateX(-50%); /* depth2 넓이의 50% */
        top: calc(var(--header-h) - 14px);
        background-color: var(--color-main);
        border-radius: 10px;
        border-top: 0;
        min-width: 100%; /* li 넓이의 100% */
        padding: 20px 25px;
        display: none; /* 오버했을때만 나옴 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 2px 0;
        white-space: nowrap; /* 줄바꿈 금지 */
        text-align: center;
        color: var(--color-white);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: var(--font-weight-bold);
    }

    /* 메뉴에 오버했을때 */
    header.menu_pc {
        background-color: var(--color-white);
        color: var(--color-title);
        fill: var(--color-basic);
    }
    header.menu_pc .logo a {
        background-image: url(../images/logo.svg);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: block; /* 2차메뉴 나옴 */
    }
}/*@media*/
/* 1025이상에서 1280이하 그 사이에서만 적용  */
@media screen and (min-width:1025px) and (max-width:1280px){
    header .logo a {
        width: 180px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 20px;
    }
}
/************************* 끝 : pc버전 메뉴 ************************************/
/************************* 시작 : 모바일 ************************************/
@media screen and (max-width:1024px){
            header {
                padding-right: 0;
                height: clamp(56px, 9vw, 90px);
            }
            header .logo a {
                /* width: 145px;
                height: 22px; */
                width: clamp(145px, 20vw, 200px);
                /* 최소값, 평소의값, 최대값 
                    100vw가 브라우저의 넓이 */
            }
            header .util {
                display: none; /* 숨김 */
            }
            header .gnb .gnb_open {
                display: flex; /* i태그 가운데 정렬 */
                justify-content: center;
                align-items: center;
                width: clamp(56px, 9vw, 90px);
                height: clamp(56px, 9vw, 90px);
            }
            header .gnb .gnb_open i {
                display: block;
                width: 36.16%;
            }
            header .gnb .gnb_wrap {
                display: none;
                position: absolute; /* header를 기준으로 정렬 */
                right: 0;
                top: 0;
                width: 100%;
                height: 100dvh;
                background-color: var(--color-white);
                color: var(--color-basic);
                fill: var(--color-basic);
            }


            /* 메뉴가 열렸을때  */
            header.menu_mo .gnb .gnb_wrap {
                display: block;
            }
}



.visual {
    position: relative; /* ctrl_btn 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이와 동일 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);

    display: flex; /* wrapper를 하단에 배치하기 위해 */
    align-items: flex-end;
}
.visual .swiper-slide.pop1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.pop2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.pop3 {
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide p {
    font-size: clamp(28px, 5vw, 60px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-title);
    margin: 0 0 calc(15dvh + 93px) 0;
    /* 글자가 나타나는 효과 */
    transition: transform 1s, opacity 1s;
    transition-delay: 0.2s;
    transform: translate(0, 50px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translate(0, 0);
    opacity: 1;
}

.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px);
    bottom: 15%;
    z-index: 10;
    display: flex;
    gap: 0 12px;
}
.visual .ctrl_btn .paging {
    display: flex;
    align-items: center;
    gap: 0 3px;
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
}
.visual .ctrl_btn .paging .bar {
    width: 140px;
    height: 3px;
    background-color: var(--color-white30);
    position: relative; /* before 정렬의 기준 */
}
.visual .ctrl_btn .paging .bar span {
    position: absolute; /* bar를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-white);
}
.visual .ctrl_btn .stop,
.visual .ctrl_btn .play {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--color-white30);
    display: flex; /* i태그를 가운데 배치 */
    justify-content: center;
    align-items: center;
}
.visual .ctrl_btn .play {
    display: none; /* 숨김처리 */
}
.visual .ctrl_btn .stop i {
    display: block;
    width: 9px;
    /* 이미지나 svg 코드 등은 넓이만 줘도 높이는 비율에 맞게 들어감 */
    margin: 0 0 3px 0;
}
.visual .ctrl_btn .play i {
    display: block;
    width: 8px;
    margin: 0 0 3px 0;
}
@media screen and (max-width:1320px){
    .visual .ctrl_btn {
        left: 30px;
    }
}
@media screen and (max-width:768px){
            .visual .swiper-slide {
                height: 400px; /* 브라우저 높이와 동일 */
            }
            .visual .swiper-slide p {
                margin: 0 0 92px 0;
                transform: translate(0, 20px);
            }
            .visual .ctrl_btn {
                left: 16px;
                bottom: 38px;
                gap: 0 6px;
            }
            .visual .ctrl_btn .paging .bar {
                width: 72px;
            }
}


footer {
    margin: 1500px 0 0 0;
}