@import url(default.css);
@import url(fonts.css);
@import url(common.css);

section h2, 
section h3 {
    font-family: "Eulyoo1945";
    font-weight: 700;
    line-height: 1.3;
}
section .tit h2 {
    font-size: 40px;
    color: #111111;
}
section .tit p {
    margin: 7px 0 0 0;
}
@media screen and (max-width:768px){
    section .tit h2 {
        font-size: 22px;
    }
    section .tit p {
        margin: 5px 0 0 0;
        display: none;
    }
}/*@media*/

header {
    position: absolute; /* wrap기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 90px;
    color: #fff;
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header .logo a {
    display: block;
    width: 190px;
    height: 30px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    /* contain은 로고를 짤리지 않게 영역에 맞게 사이즈 조정 */
    transition: 0.5s;
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 모바일에서만 보임 */
}
header .gnb .gnb_wrap ul {
    display: flex; /* li 좌우 배치 */
}
header .gnb .gnb_wrap ul li a {
    display: block;
    font-family: "Eulyoo1945";
    font-weight: 700;
    font-size: 22px;
    line-height: 90px; /* header의 높이 */
    padding: 0 25px;
}
header .util {
    display: flex;
    gap: 0 1px; /* 위아래 - 좌우 */
}
header .util .mypage,
header .util .search .search_open {
    width: 52px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 12.4997C10.8959 12.4997 9.52261 11.9285 8.38025 10.7861C7.23789 9.64377 6.66671 8.27051 6.66671 6.66634C6.66671 5.06217 7.23789 3.68891 8.38025 2.54655C9.52261 1.40419 10.8959 0.833008 12.5 0.833008C14.1042 0.833008 15.4775 1.40419 16.6198 2.54655C17.7622 3.68891 18.3334 5.06217 18.3334 6.66634C18.3334 8.27051 17.7622 9.64377 16.6198 10.7861C15.4775 11.9285 14.1042 12.4997 12.5 12.4997ZM0.833374 24.1663V20.083C0.833374 19.2566 1.04605 18.4971 1.47139 17.8044C1.89674 17.1117 2.46185 16.583 3.16671 16.2184C4.67365 15.465 6.2049 14.8998 7.76046 14.5231C9.31601 14.1464 10.8959 13.958 12.5 13.958C14.1042 13.958 15.6841 14.1464 17.2396 14.5231C18.7952 14.8998 20.3264 15.465 21.8334 16.2184C22.5382 16.583 23.1033 17.1117 23.5287 17.8044C23.954 18.4971 24.1667 19.2566 24.1667 20.083V24.1663H0.833374ZM3.75004 21.2497H21.25V20.083C21.25 19.8156 21.1832 19.5726 21.0495 19.3538C20.9158 19.1351 20.7396 18.965 20.5209 18.8434C19.2084 18.1872 17.8837 17.695 16.5469 17.3669C15.2101 17.0387 13.8612 16.8747 12.5 16.8747C11.1389 16.8747 9.78997 17.0387 8.45317 17.3669C7.11636 17.695 5.79171 18.1872 4.47921 18.8434C4.26046 18.965 4.08424 19.1351 3.95056 19.3538C3.81688 19.5726 3.75004 19.8156 3.75004 20.083V21.2497ZM12.5 9.58301C13.3021 9.58301 13.9888 9.29742 14.5599 8.72624C15.1311 8.15506 15.4167 7.46842 15.4167 6.66634C15.4167 5.86426 15.1311 5.17763 14.5599 4.60645C13.9888 4.03526 13.3021 3.74967 12.5 3.74967C11.698 3.74967 11.0113 4.03526 10.4401 4.60645C9.86896 5.17763 9.58337 5.86426 9.58337 6.66634C9.58337 7.46842 9.86896 8.15506 10.4401 8.72624C11.0113 9.29742 11.698 9.58301 12.5 9.58301Z' fill='white'/%3E%3C/svg%3E%0A");
    transition: 0.5s;
}
header .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.5833 26.625L15.3958 17.4375C14.6667 18.0208 13.8281 18.4826 12.8802 18.8229C11.9323 19.1632 10.9236 19.3333 9.85417 19.3333C7.20486 19.3333 4.96267 18.4158 3.1276 16.5807C1.29253 14.7457 0.375 12.5035 0.375 9.85417C0.375 7.20486 1.29253 4.96267 3.1276 3.1276C4.96267 1.29253 7.20486 0.375 9.85417 0.375C12.5035 0.375 14.7457 1.29253 16.5807 3.1276C18.4158 4.96267 19.3333 7.20486 19.3333 9.85417C19.3333 10.9236 19.1632 11.9323 18.8229 12.8802C18.4826 13.8281 18.0208 14.6667 17.4375 15.3958L26.625 24.5833L24.5833 26.625ZM9.85417 16.4167C11.6771 16.4167 13.2266 15.7786 14.5026 14.5026C15.7786 13.2266 16.4167 11.6771 16.4167 9.85417C16.4167 8.03125 15.7786 6.48177 14.5026 5.20573C13.2266 3.92969 11.6771 3.29167 9.85417 3.29167C8.03125 3.29167 6.48177 3.92969 5.20573 5.20573C3.92969 6.48177 3.29167 8.03125 3.29167 9.85417C3.29167 11.6771 3.92969 13.2266 5.20573 14.5026C6.48177 15.7786 8.03125 16.4167 9.85417 16.4167Z' fill='white'/%3E%3C/svg%3E%0A");
    transition: 0.5s;
}
/* header에 fixed 클래스가 추가되었을때 */
header.fixed {
    position: fixed;
    height: 70px;
    color: #111111;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
}
header.fixed .logo a {
    background-image: url(../images/logo.svg);
    /* contain은 로고를 짤리지 않게 영역에 맞게 사이즈 조정 */
}
header.fixed .gnb .gnb_wrap ul li a {
    line-height: 70px; /* header의 높이 */
}
header.fixed .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4999 12.4997C10.8958 12.4997 9.52249 11.9285 8.38013 10.7861C7.23777 9.64377 6.66659 8.27051 6.66659 6.66634C6.66659 5.06217 7.23777 3.68891 8.38013 2.54655C9.52249 1.40419 10.8958 0.833008 12.4999 0.833008C14.1041 0.833008 15.4773 1.40419 16.6197 2.54655C17.7621 3.68891 18.3333 5.06217 18.3333 6.66634C18.3333 8.27051 17.7621 9.64377 16.6197 10.7861C15.4773 11.9285 14.1041 12.4997 12.4999 12.4997ZM0.833252 24.1663V20.083C0.833252 19.2566 1.04593 18.4971 1.47127 17.8044C1.89662 17.1117 2.46172 16.583 3.16659 16.2184C4.67353 15.465 6.20478 14.8998 7.76034 14.5231C9.31589 14.1464 10.8958 13.958 12.4999 13.958C14.1041 13.958 15.6839 14.1464 17.2395 14.5231C18.7951 14.8998 20.3263 15.465 21.8333 16.2184C22.5381 16.583 23.1032 17.1117 23.5286 17.8044C23.9539 18.4971 24.1666 19.2566 24.1666 20.083V24.1663H0.833252ZM3.74992 21.2497H21.2499V20.083C21.2499 19.8156 21.1831 19.5726 21.0494 19.3538C20.9157 19.1351 20.7395 18.965 20.5208 18.8434C19.2083 18.1872 17.8836 17.695 16.5468 17.3669C15.21 17.0387 13.861 16.8747 12.4999 16.8747C11.1388 16.8747 9.78985 17.0387 8.45304 17.3669C7.11624 17.695 5.79159 18.1872 4.47909 18.8434C4.26034 18.965 4.08412 19.1351 3.95044 19.3538C3.81676 19.5726 3.74992 19.8156 3.74992 20.083V21.2497ZM12.4999 9.58301C13.302 9.58301 13.9886 9.29742 14.5598 8.72624C15.131 8.15506 15.4166 7.46842 15.4166 6.66634C15.4166 5.86426 15.131 5.17763 14.5598 4.60645C13.9886 4.03526 13.302 3.74967 12.4999 3.74967C11.6978 3.74967 11.0112 4.03526 10.44 4.60645C9.86884 5.17763 9.58325 5.86426 9.58325 6.66634C9.58325 7.46842 9.86884 8.15506 10.44 8.72624C11.0112 9.29742 11.6978 9.58301 12.4999 9.58301Z' fill='%23363636'/%3E%3C/svg%3E%0A");
}
header.fixed .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.5833 26.625L15.3958 17.4375C14.6667 18.0208 13.8281 18.4826 12.8802 18.8229C11.9323 19.1632 10.9236 19.3333 9.85417 19.3333C7.20486 19.3333 4.96267 18.4158 3.1276 16.5807C1.29253 14.7457 0.375 12.5035 0.375 9.85417C0.375 7.20486 1.29253 4.96267 3.1276 3.1276C4.96267 1.29253 7.20486 0.375 9.85417 0.375C12.5035 0.375 14.7457 1.29253 16.5807 3.1276C18.4158 4.96267 19.3333 7.20486 19.3333 9.85417C19.3333 10.9236 19.1632 11.9323 18.8229 12.8802C18.4826 13.8281 18.0208 14.6667 17.4375 15.3958L26.625 24.5833L24.5833 26.625ZM9.85417 16.4167C11.6771 16.4167 13.2266 15.7786 14.5026 14.5026C15.7786 13.2266 16.4167 11.6771 16.4167 9.85417C16.4167 8.03125 15.7786 6.48177 14.5026 5.20573C13.2266 3.92969 11.6771 3.29167 9.85417 3.29167C8.03125 3.29167 6.48177 3.92969 5.20573 5.20573C3.92969 6.48177 3.29167 8.03125 3.29167 9.85417C3.29167 11.6771 3.92969 13.2266 5.20573 14.5026C6.48177 15.7786 8.03125 16.4167 9.85417 16.4167Z' fill='%23363636'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:768px){
                    header {
                        height: 56px;
                        padding: 0 0 0 16px;
                    }
                    header .logo a {
                        width: 114px;
                        height: 18px;
                    }
                    header .gnb .gnb_open {
                        display: block; /* none -> block 보이게 */
                        width: 56px;
                        height: 56px;
                        background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 3.16634V0.833008H21.5V3.16634H0.5ZM0.5 17.1663V14.833H21.5V17.1663H0.5ZM0.5 10.1663V7.83301H21.5V10.1663H0.5Z' fill='white'/%3E%3C/svg%3E%0A");
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    header .gnb .gnb_wrap {
                        display: none;
                    }
                    header .util {
                        display: none;
                    }
                    /* header에 fixed 클래스가 추가되었을때 */
                    header.fixed {
                        height: 56px;
                    }
                    header.fixed .gnb .gnb_open {
                        background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 3.16634V0.833008H21.5V3.16634H0.5ZM0.5 17.1663V14.833H21.5V17.1663H0.5ZM0.5 10.1663V7.83301H21.5V10.1663H0.5Z' fill='%23363636'/%3E%3C/svg%3E%0A");
                    }
}/*@media*/

.visual {
    position: relative; /* ctrl_btn 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이에 딱 맞춰서 */
    min-height: 540px; /* 최소 높이 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: flex-end;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_bg3.jpg);
}

.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 0 0 14px 0;
    transition: 1s;
    transition-delay: 0.3s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide p {
    margin: 0 0 180px 0;
    transition: 1s;
    transition-delay: 0.8s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active h3 {
    transform: translateY(0);
    opacity: 1;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translateY(0);
    opacity: 1;
}

.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    bottom: 140px;
    left: 50%;
    width: 1260px;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.visual .ctrl_btn .btn_left,
.visual .ctrl_btn .btn_right {
    display: flex;
    align-items: center;
    gap: 0 6px;
}
.visual .ctrl_btn .paging {
    bottom: auto;
    left: auto;
    width: auto;
    display: flex;
    gap: 0 5px;
}
.visual .ctrl_btn .paging .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: transparent;
    border: 1px solid #fff;
    opacity: 1;
    margin: 0;
    position: relative;
}
.visual .ctrl_btn .paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #fff;
}
.visual .ctrl_btn .btn_stop {
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.09994 9.35006V0.25H8.69995V9.35006H6.09994ZM0.899902 9.35006V0.25H3.49992V9.35006H0.899902Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .btn_play {
    display: none; /* 일시정지 이후에 나타남 */
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='9' viewBox='0 0 7 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 9V0L7 4.5L0 9Z' fill='white'/%3E%3C/svg%3E ");
}
.visual .ctrl_btn .btn_prev,
.visual .ctrl_btn .btn_next {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.29649 15.1748L15.5914 26.4697L14.2 27.8498L0.550049 14.1998L14.2 0.549805L15.5914 1.92992L4.29649 13.2248H27.85V15.1748H4.29649Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .ctrl_btn .btn_next {
    transform: rotate(180deg);
}
@media screen and (max-width:768px){
                .visual .swiper-slide {
                    height: 400px;
                }
                .visual .swiper-slide h3 {
                    font-size: 30px;
                    margin: 0 0 72px 0;
                    transform: translateY(20px);
                }
                .visual .swiper-slide p {
                    display: none;
                }
                .visual .ctrl_btn {
                    bottom: 18px;
                    width: auto;
                }
                .visual .ctrl_btn .btn_right {
                    display: none;
                }
}/*@media*/

.book {
    margin: 170px 0 0 0;
}
.book .book_wrap {
    width: calc(50% + 630px);
    /* book넓이의 절반 50% + 1260의 절반 */
    margin-left: calc((100% - 1260px) / 2);
    display: flex; /* tit - list 좌우배치 */
    justify-content: space-between;
    position: relative; /* ctrl_btn, more 정렬의 기준 */
}
.book .book_wrap .list {
    width: calc(100% - 311px);
    margin: -10px 0 0 0;
}
.book .book_wrap .list .swiper {
    padding: 10px 30px 0 10px;
}
.book .book_wrap .list .swiper-wrapper {
    align-items: flex-end;
}
.book .book_wrap .list .swiper-slide {
    width: 200px;
}
.book .book_wrap .list .swiper-slide a {
    display: block;
}
.book .book_wrap .list .swiper-slide a .photo {
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ededed;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
}
.book .book_wrap .list .swiper-slide a .photo img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
.book .book_wrap .list .swiper-slide a .txt {
    height: 100px;
}
.book .book_wrap .list .swiper-slide a .txt h3 {
    margin: 22px 0 6px 0;
    font-size: 24px;
    color: #111111;
    /* 최대 2줄 */
    line-height: 1.3;
    max-height: 2.6em; /* 행간 * 줄수 = 단위는 em */
    overflow: hidden;
}
.book .book_wrap .list .swiper-slide a .txt p {
    /* 무조건 1줄로 제한 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.book .ctrl_more_wrap {
    margin: 5px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 0 5px;
}
.book .book_wrap .ctrl_btn {
    position: absolute;
    left: 0;
    top: 300px;
    display: flex;
    gap: 0 10px;
}
.book .book_wrap .ctrl_btn button {
    width: 55px;
    height: 55px;
    border: 1px solid #6C4B44;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.56323 13.0469L13.4085 22.8922L12.1958 24.0951L0.297607 12.197L12.1958 0.298828L13.4085 1.50182L3.56323 11.3471H24.0939V13.0469H3.56323Z' fill='%236C4B44'/%3E%3C/svg%3E%0A");
}
.book .book_wrap .ctrl_btn button.btn_next {
    transform: rotate(180deg);
}
.book .book_wrap .ctrl_btn button.swiper-button-disabled {
    opacity: 0.5;
    cursor: default;
}
.book .book_wrap .more {
    position: absolute;
    left: 0;
    top: 200px;
}
.book .book_wrap .more a {
    display: block;
    color: #6C4B44;
    padding: 0 24px 0 0;
    position: relative; /* after 정렬의기준 */
}
.book .book_wrap .more a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 6px;
    width: 10px;
    height: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.4375 5.5625H0.125V4.4375H4.4375V0.125H5.5625V4.4375H9.875V5.5625H5.5625V9.875H4.4375V5.5625Z' fill='%236C4B44'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:768px){
                .book {
                    margin: 75px 0 0 0;
                }
                .book .book_wrap {
                    width: auto;
                    margin-left: 0;
                    display: block; /* flex -> block 해제 */
                }
                .book .book_wrap .tit {
                    margin: 0 0 0 16px;
                }
                .book .book_wrap .tit h2 br {
                    display: none; /* 줄바꿈 삭제 */
                }
                .book .book_wrap .list {
                    width: auto;
                    margin: 11px 0 0 0;
                }
                .book .book_wrap .list .swiper {
                    padding: 10px 16px 0 16px;
                }
                .book .book_wrap .list .swiper-wrapper {
                    align-items: flex-start; 
                }
                .book .book_wrap .list .swiper-slide {
                    width: 150px;
                }
                .book .book_wrap .list .swiper-slide a .txt {
                    height: auto; /*??????*/
                }
                .book .book_wrap .list .swiper-slide a .txt h3 {
                    margin: 16px 0 4px 0;
                    font-size: 18px;
                }
                .book .book_wrap .ctrl_btn {
                    display: none;
                }
                .book .book_wrap .more {
                    left: auto;
                    right: 16px;
                    top: 3px;
                }
                .book .book_wrap .more a {
                    padding: 0;
                }
                .book .book_wrap .more a::after {
                    display: none;
                }
}/*@media*/

.interview {
    background-color: #F6F3EC;
    margin: 134px 0 0 0;
    padding: 156px 0 142px 0;
}
.interview .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.interview .tit {
    text-align: center;
}
.interview .list {
    margin: 31px 0 0 0;
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
}
.interview .list ul li {
    width: calc(33.33% - 16px);
}

.interview .list ul li a {
    display: block;
    position: relative; /* txt 정렬의 기준 */
}
.interview .list ul li a .photo {
    overflow: hidden;
    height: 405px;
    border-radius: 50px 0 50px 0;
    position: relative; /* before 정렬의 기준 */
}

.interview .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    transition: 0.5s;
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1); /* 흑백 */
    transition: 0.5s;
}
.interview .list ul li a .txt {
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    bottom: -55px;
    z-index: 11;
    width: calc(100% - 58px);
    color: #fff;
    padding: 31px 40px 37px 30px;
    border-radius: 50px 0 50px 0;
    transition: 0.3s;
}

.interview .list ul li a .txt::after {
    content: "";
    position: absolute; /* txt를 기준으로 정렬 */
    right: -18px;
    top: 60px;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.90203 11.0971H0.762451V9.9013H9.90203V0.761719H11.0979V9.9013H20.2375V11.0971H11.0979V20.2367H9.90203V11.0971Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: contain;
    transition: 0.2s;
}
.interview .list ul li a .txt h3 {
    font-size: 32px;
    margin: 0 0 10px 0;
}
.interview .list ul li a .txt p {
    opacity: 0;
    transition: 0.3s;
}
.interview .more {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 40px;
}
.interview .more a {
    display: block;
    color: #6C4B44;
    padding: 0 24px 0 0;
    position: relative; /* after 정렬의기준 */
}
.interview .more a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 6px;
    width: 10px;
    height: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.4375 5.5625H0.125V4.4375H4.4375V0.125H5.5625V4.4375H9.875V5.5625H5.5625V9.875H4.4375V5.5625Z' fill='%236C4B44'/%3E%3C/svg%3E%0A");
}
@media screen and (min-width:769px){ /* 769이상일때만 (pc버전에서만) 적용 */
    .interview .list ul li:nth-child(2) {
        margin: 64px 0 0 0;
    }
    .interview .list ul li:nth-child(2) a .photo {
        border-radius: 0 50px 0 50px;
    }
    .interview .list ul li:nth-child(2) a .txt {
        border-radius: 0 50px 0 50px;
    }
    .interview .list ul li a:hover .photo::before {
        opacity: 0;
    }
    .interview .list ul li a:hover .photo img {
        filter: grayscale(0); /* 칼라 */
    }
    .interview .list ul li a:hover .txt {
        padding: 31px 40px 37px 40px;
        background-color: #6C4B44;
        bottom: -75px;
    }
    .interview .list ul li a:hover .txt::after {
        right: 46px;
        top: 84px;
        width: 20px;
        height: 20px;
    }
    .interview .list ul li a:hover .txt p {
        opacity: 1;
    }
}/*@media*/
@media screen and (max-width:768px){ /* 768이하일때만 (모바일 버전) 적용 */
                .interview {
                    margin: 62px 0 0 0;
                    padding: 87px 0 93px 0;
                }
                .interview .tit {
                    text-align: left;
                }
                .interview .list {
                    margin: 25px 0 0 0;
                }
                .interview .list ul li {
                    width: calc(50% - 8px);
                    /*  100%/한줄에 보이는 li의 갯수(2) = 50%
                        한줄에 있는 사이여백의 합 16/ 한줄에 보이는 li의 갯수(2) = 8px */
                }
                .interview .list ul li:nth-child(3) {
                    display: none; /* 숨김 */
                }
                .interview .list ul li a .photo {
                    height: 347px;
                    border-radius: 30px 0 30px 0;
                }
                .interview .list ul li a .photo::before {
                    display: none;
                }
                .interview .list ul li a .photo img {
                    filter: grayscale(0); /* 칼라 */
                }
                .interview .list ul li a .txt {
                    bottom: -34px;
                    width: calc(100% - 27px);
                    padding: 35px 16px 26px 16px;
                    border-radius: 30px 0 30px 0;
                    background-color: #6C4B44;
                }
                .interview .list ul li a .txt::after {
                    right: 30px;
                    top: 42px;
                    width: 13px;
                    height: 13px;
                }
                .interview .list ul li a .txt h3 {
                    font-size: 20px;
                }
                .interview .list ul li a .txt h3 br {
                    display: none; /* 줄바꿈 금지 */
                }
                .interview .list ul li a .txt p {
                    opacity: 1;
                }
                .interview .more {
                    top: 5px;
                }
                .interview .more a {
                    padding: 0;
                }
                .interview .more a::after {
                    display: none;
                }
}/* @media */
@media screen and (max-width:550px){ /* 550이하는 1개 */
                .interview .list ul {
                    display: block; /* flex -> block */
                }
                .interview .list ul li {
                    width: auto;
                }
                .interview .list ul li:nth-child(2) {
                    display: none; /* 숨김 */
                }
}/* @media */

.story {
    margin: 156px 0 0 0;
}
.story .wrapper {
    position: relative; /* ctrl_btn, more 정렬의 기준 */
}
.story .list {
    margin: 52px 0 0 0;
}
.story .list .swiper-slide a {
    display: block;
}
.story .list .swiper-slide a .photo {
    overflow: hidden;
    height: 280px;
}
.story .list .swiper-slide.long a .photo {
    height: 420px; 
}
.story .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.story .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.story .list .swiper-slide a .txt h3 {
    font-size: 24px;
    color: #111111;
    margin: 21px 0 0 0;
    /* 무조건 2줄  제한*/
    line-height: 1.3;
    height: 2.6em; /* 행간*2 = 단위는 em */
    overflow: hidden;
}
.story .list .swiper-slide a .txt p {
    margin: 10px 0 0 0;
    /* 무조건 5줄 제한 */
    line-height: 1.5;
    height: 7.5em; /* 행간*2 = 단위는 em */
    overflow: hidden;
}
.story .list .swiper-slide.long a .txt p {
    display: none;
}
.story .list .swiper-slide a .txt span {
    display: inline-block;
    margin: 21px 0 0 0;
    color: #6C4B44;
    padding: 0 30px 0 0;
    position: relative;
}
.story .list .swiper-slide a .txt span::after {
    content: "";
    position: absolute;
    right: 0;
    top: 4px;
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9327 7.07422L6.85084 0.992354L7.60001 0.249217L14.95 7.59922L7.60001 14.9492L6.85084 14.2061L12.9327 8.12422L0.250012 8.12422L0.250012 7.07422L12.9327 7.07422Z' fill='%236C4B44'/%3E%3C/svg%3E%0A");
}
.story .ctrl_btn {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 123px;
    top: 18px;
    display: flex;
    gap: 0 9px;
}
.story .ctrl_btn button {
    width: 34px;
    height: 34px;
    border: 1px solid #6C4B44;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.41621 9.85039L10.2962 15.7304L8.79996 17.2004L0.399963 8.80039L8.79996 0.400391L10.2962 1.87039L4.41621 7.75039L17.2 7.75039V9.85039L4.41621 9.85039Z' fill='%236C4B44'/%3E%3C/svg%3E%0A");
}
.story .ctrl_btn button.swiper-button-disabled {
    opacity: 0.5;
    cursor: default;
}
.story .ctrl_btn button.btn_next {
    transform: rotate(180deg);
}
.story .more {
    position: absolute;
    right: 0;
    top: 18px;
}
.story .more a {
    display: block;
    padding: 3px 50px 3px 12px;
    border: 1px solid #6C4B44;
    border-radius: 20px;
    background-color: #F6F3EC;
    color: #6C4B44;
    position: relative;
}
.story .more a::after {
    content: "";
    position: absolute;
    right: 13px;
    top: 11px;
    width: 11px;
    height: 11px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.25 6.75H0.75V5.25H5.25V0.75H6.75V5.25H11.25V6.75H6.75V11.25H5.25V6.75Z' fill='%236C4B44'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:768px){
                .story {
                    margin: 97px 0 0 0;
                }
                .story .list {
                    margin: 25px 0 0 0;
                }
                .story .list .swiper-slide {
                    width: 200px;
                }
                .story .list .swiper-slide a .photo {
                    height: 200px;
                }
                .story .list .swiper-slide.long a .photo {
                    height: 200px; 
                }
                .story .list .swiper-slide a .txt h3 {
                    font-size: 18px;
                    margin: 23px 0 0 0;
                }
                .story .list .swiper-slide a .txt p {
                    margin: 14px 0 0 0;
                    /* 무조건 5줄 제한 -> 2줄 */
                    height: 3em; /* 행간*2 = 단위는 em */
                }
                .story .list .swiper-slide.long a .txt p {
                    display: block;
                }
                .story .list .swiper-slide a .txt span {
                    display: none;
                }
                .story .ctrl_btn {
                    display: none;
                }
                .story .more {
                    top: 0;
                }
                .story .more a {
                    padding: 0;
                    border: none;
                    border-radius: 0;
                    background-color: transparent;
                }
                .story .more a::after {
                    display: none;
                }
}/* @media */
footer {
    margin: 125px 0 0 0;
    background-color: #231816;
    color: rgba(255, 255, 255, 0.8);
    padding: 90px 0 99px 0;
    position: relative; /* top버튼 정렬의 기준 */
}
footer .top {
    position: absolute;
    right: 3%;
    bottom: 100px;
    width: 49px;
    height: 49px;
    background-color: #F6F3EC;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.49219 5.45586L1.72552 12.2225L0.0338531 10.5007L9.70052 0.833984L19.3672 10.5007L17.6755 12.2225L10.9089 5.45586L10.9089 20.1673L8.49219 20.1673L8.49219 5.45586Z' fill='%236C4B44'/%3E%3C/svg%3E%0A");
}
footer .wrapper {
    display: flex; /* slogan - f_info 좌우 배치 */
    justify-content: space-between;
    position: relative; /* copyright 정렬의 기준 */
}
footer .slogan {
    color: #fff;
    font-family: "Eulyoo1945";
    font-size: 28px;
    line-height: 1.3;
}
/*
    <div class="f_info">
        <div class="group"></div>   --- 얜 적용 안됨XXX 
        <div class="group"></div>   --- 앞에 group이라는 클래스가 있는 group
        <div class="group"></div>   --- 앞에 group이라는 클래스가 있는 group
    </div>
*/
footer .f_info .group + .group {
    margin: 34px 0 0 0;
}
footer .f_info .group h3 {
    font-family: "Eulyoo1945";
    font-size: 24px;
    line-height: 1.3;
    margin: 0 0 10px 0;
}
footer .f_info .group ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 32px;
}
footer .copyright {
    position: absolute; /* wrapper를 기준으로 정렬 */
    left: 0;
    bottom: 0;
}
footer .copyright .f_logo img {
    width: 162px;
    /* 이미지에 넓이만 주면 높이는 비율에 맞게 들어감 */
}
footer .copyright p {
    color: rgba(255, 255, 255, 0.6);
    margin: 12px 0 0 0;
}

@media screen and (max-width:768px){ 
            footer {
                margin: 102px 0 0 0;
                padding: 97px 0 99px 0;
            }
            footer .top {
                right: 16px;
                bottom: auto;
                top: -19px;
                width: 43px;
                height: 43px;
                background-color: #6C4B44;
                border-radius: 0;
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.61526 4.07253L1.67717 10.0106L0.192644 8.49959L8.67564 0.0166012L17.1586 8.49959L15.6741 10.0106L9.73601 4.07253L9.73601 16.9826L7.61526 16.9826L7.61526 4.07253Z' fill='white'/%3E%3C/svg%3E%0A");
                box-shadow: -3px -3px 5px 0 rgba(0, 0, 0, 0.1);
            }
            footer .wrapper {
                display: block; /* flex -> block */
            }
            footer .slogan {
                font-size: 20px;
                margin: 0 0 56px 0;
            }
            footer .f_info .group + .group {
                margin: 30px 0 0 0;
            }
            footer .f_info .group h3 {
                font-size: 18px;
                margin: 0 0 5px 0;
            }
            footer .f_info .group ul {
                gap: 0 26px;
            }
            footer .copyright {
                position: relative; /* absolute -> 해제 */
                left: auto;
                bottom: auto;
                margin: 65px 0 0 0;
            }
            footer .copyright .f_logo img {
                width: 138px;
            }
}/*@media*/