@import url(common.css);

:root {
    --header-h: 90px;
}
@media screen and (max-width:1024px){
    :root {
        --header-h: 56px;
    }
}/*@media*/

header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: #fff;
    padding: 0 30px 0 30px;

    display: flex; /* logo-gnb-util 좌우 */
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 41px;
    height: 43px;
    background: url(../images/menu_logo_w.svg) no-repeat center center / contain;
    /* 로고나 아이콘 처럼 배경에 넣더라도 짤리지 않고 모두 보여야하는 배경은 contain */
}
header .util {
    display: flex; /* lang-search 좌우배치 */
}
header .util .lang .lang_open {
    width: 40px;
    height: 40px;

    display: flex; /* i를 나의 영역에 가운데 정렬하려고 */
    justify-content: center;
    align-items: center;
}
header .util .lang .lang_open i {
    display: block;
    width: 24px;
    height: 24px;
}
header .util .search .search_open {
    width: 40px;
    height: 40px;

    display: flex; /* i를 나의 영역에 가운데 정렬하려고 */
    justify-content: center;
    align-items: center;
}
header .util .search .search_open i {
    display: block;
    width: 21px;
    height: 21px;
}

@media screen and (min-width:1025px){ 
    /* 1025px이상일때 - pc버전일때만적용 */
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none; /* pc버전 숨김 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li를 좌우로 배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 22px;
        font-weight: 800;
        line-height: var(--header-h); /* header의 높이만큼 줘야함 */
        padding: 0 28px 0 28px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        /* 2차메뉴는 absolute로 처리 */
        position: absolute;
        left: 0;
        top: var(--header-h); /* 정확하게 1차메뉴 높이와 같아야함 */
        width: 100%; /* li 넓이의 100% */
        padding: 16px 0 0 0;
        display: none; /* 오버했을때 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 5px 0 5px 0;
        text-align: center;
        color: #555555;
    }

    /* 메뉴가 열렸을때 header에 menu_over가 들어갔을때 */
    header.menu_over {
        color: #1D1D1D;
    }
    header.menu_over::before {
        content: "";
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        z-index: -1;
        /* header 내부요소 중에서 맨 아래, header 밖으로 못나감 */
        width: 100%;
        height: 290px;
        background-color: #fff;
    }
    header.menu_over::after {
        content: "";
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: #ededed;
    }
    header.menu_over .logo a {
        background-image: url(../images/menu_logo.svg);
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: #FF1C20;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a span {
        position: relative; /* after 정렬의 기준 */
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li.over > a span::after {
        content: "";
        position: absolute; /* span를 기준으로 정렬 */
        left: 0;
        bottom: -33px;
        z-index: 10;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #FF1C20;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block; /* 오버하면 메뉴가 나타남 */
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        text-decoration: underline;
        color: #FF1C20;
    }
    header.menu_over .util .lang .lang_open i svg path {
        fill: #2d2d2d;
    }
    header.menu_over .util .search .search_open i svg path {
        fill: #2d2d2d;
    }
}/*@media*/
@media screen and (max-width:1024px){ 
            /* 1024이하일때 - 즉 메뉴가 모바일 버전으로 변경 */
            header {
                padding: 0 0 0 16px;
            }
            header .logo a {
                width: 25px;
                height: 26px;
            }
            header .gnb .gnb_open {
                width: var(--header-h);
                height: var(--header-h);

                display: flex; /* svg를 가운데 */
                justify-content: center;
                align-items: center;
            }
            header .gnb .gnb_open i {
                display: block;
                width: 21px;
                height: 17px;
            }
            header .gnb .gnb_wrap {
                display: none; /* 메뉴가 열렸을때 나타남 */
                position: absolute; /* header를 기준으로 정렬 */
                left: 0;
                top: 0;
                width: 100%;
                height: 100dvh;
                background-color: #fff;
                color: #1D1D1D;
                padding: 72px 0 0 0; /* 2차메뉴 상단여백 */
            }
            header .gnb .gnb_wrap ul.depth1 > li > a {
                display: block;
                padding: 14px 52px 14px 16px; /* 오른쪽 아이콘과 글자가 겹치지 않기 위해서 */
                font-size: 20px;
                font-weight: 800;
                position: relative; /* after 정렬의 기준 */
            }
            header .gnb .gnb_wrap ul.depth1 > li > a::after {
                content: "";
                position: absolute; /* a를 기준으로 정렬 */
                right: 21px;
                top: 22px;
                width: 16px;
                height: 9px;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99989 7.34624L14.2772 1.06895C14.4427 0.903394 14.6377 0.8227 14.862 0.826866C15.0864 0.831172 15.2814 0.916103 15.447 1.08166C15.6125 1.24735 15.6953 1.44235 15.6953 1.66666C15.6953 1.89096 15.6125 2.08596 15.447 2.25166L9.06718 8.64416C8.91648 8.79486 8.74767 8.90652 8.56072 8.97916C8.37378 9.0518 8.18683 9.08812 7.99989 9.08812C7.81294 9.08812 7.626 9.0518 7.43905 8.97916C7.25211 8.90652 7.08329 8.79486 6.9326 8.64416L0.53989 2.25166C0.374334 2.08596 0.29371 1.88881 0.298015 1.6602C0.302321 1.43159 0.387251 1.23451 0.552806 1.06895C0.718362 0.903395 0.913362 0.820618 1.13781 0.820618C1.36211 0.820618 1.55704 0.903395 1.7226 1.06895L7.99989 7.34624Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                background-color: #f4f4f4;
                padding: 15px 38px 17px 38px;
                display: none; /* 1차메뉴를 클릭하면 열림 */
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                display: block;
                padding: 5px 0 5px 0;
            }
            
            header .gnb .gnb_close {
                display: none; /* 메뉴가 열렸을때 나타남 */
                position: absolute; /* header를 기준으로 정렬 */
                right: 0;
                top: 0;
                width: var(--header-h);
                height: var(--header-h);
                /* 메뉴가열리면 flex 줄 예정 */
                justify-content: center;
                align-items: center;
            }
            header .gnb .gnb_close i {
                display: block;
                width: 15px;
                height: 15px;
            }
            header .util {
                position: absolute; /* header를 기준으로 정렬 */
                right: var(--header-h);
                top: 0;
            }
            header .util .lang {
                display: none; /* 모바일에서 숨김 */
            }
            header .util .search .search_open {
                width: 33px;
                height: var(--header-h);
            }
            header .util .search .search_open i {
                width: 20px;
                height: 20px;
            }

            /* header에 menu_open이 있을때 - 메뉴가 열렸을때 */
            header.menu_open .gnb .gnb_wrap {
                display: block;
            }
            header.menu_open .gnb .gnb_close {
                display: flex; /* 아이콘 가운데 때문에 */
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
                transform: rotate(180deg);
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
                display: block;
            }
}/*@media*/

.visual {
    height: 100dvh;
    background: url(../images/menu_visual.jpg) no-repeat center center / cover;
}