/* 모든페이지에서 중복되는 스타일 */
body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #333a46;
    word-break: keep-all; /* 단어별로 줄바꿈 */
}
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 정렬 */
}
#wrap {
    min-width: 1460px;   /* 1260 + 100 + 100 = 1460 */
    position: relative; /* header 정렬의 기준 */
}