/***********************
* 파일명 : sub.css 
* 작성자 : 문미영
* 작성일 : 25-10-23
* 설  명 : 메인을 제외한 모든 페이지에서 호출되는 css 파일
           서브에 필요한 css를 import하는 역할과 
           서브의 레이아웃을 퍼블리싱함 (서브의 공통스타일)
*********************/
@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);
@import url(contents.css);

.sub_visual {
    height: 369px;
    background: url(../images/sub/sub_visual01.jpg) no-repeat center center / cover;
    color: #fff;
    display: flex; /* wrapper를 sub_visual 아래로 정렬 */
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
.sub_visual.bg1 {
    background-image: url(../images/sub/sub_visual01.jpg);
}
.sub_visual.bg2 {
    background-image: url(../images/sub/sub_visual02.jpg);
}
.sub_visual.bg3 {
    background-image: url(../images/sub/sub_visual03.jpg);
}
.sub_visual.bg4 {
    background-image: url(../images/sub/sub_visual04.jpg);
}
.sub_visual.bg5 {
    background-image: url(../images/sub/sub_visual05.jpg);
}
.sub_visual .breadcrumb ol {
    display: flex;
    gap: 0 1.7647em;
    align-items: center; /* 위아래 가운데 */
}
.sub_visual .breadcrumb ol li {
    position: relative; /* after정렬의 기준 */
    height: 1.5em;
}
.sub_visual .breadcrumb ol li::after {
    content: "";
    position: absolute; /* li을 기준으로 정렬 */
    right: -1.0588em;
    top: 0.4118em;
    width: 0.3529em;
    height: 0.3529em;
    border-color: #fff;
    border-style: solid;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
}
.sub_visual .breadcrumb ol li:last-child::after {
    display: none;
}
.sub_visual .breadcrumb ol li.home a {
    margin-top: 0.1176em;
    display: block;
    width: 0.7647em;
    height: 0.8824em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 15' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.58333 12.6667H3.95833V7.91667H8.70833V12.6667H11.0833V5.54167L6.33333 1.97917L1.58333 5.54167V12.6667ZM0 14.25V4.75L6.33333 0L12.6667 4.75V14.25H7.125V9.5H5.54167V14.25H0Z' /%3E%3C/svg%3E%0A");
}
.sub_visual .sub_tit {
    margin: 16px 0 45px 0;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

.snb {
    height: 61px;
    background-color: var(--color-main);
    color: #fff;
}
.snb ul {
    display: flex;
    max-width: 1260px;
    margin: 0 auto;
}
.snb ul li a {
    display: block;
    line-height: 30px;
    /* 높이 61 - 행간 30px 상단여백 20px 하단 11px */
    padding: 18px 26px 13px 26px;
}
.snb ul li:first-child a {
    padding-left: 0;
}
.snb ul li.active a {
    font-weight: 700;
}
.snb ul li a span {
    position: relative; /* after 정렬의 기준 */
}
.snb ul li.active a span::before {
    content: "";
    position: absolute;
    right: -7px;
    top: -2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
}
.snb ul li.active a span::after {
    content: "";
    position: absolute;
    left: -5px;
    bottom: -15px;
    width: calc(100% + 10px);
    height: 3px;
    background-color: #fff;
}
.contents {
    min-height: 400px;
}
.contents .page_tit {
    margin: 80px 0 69px 0;
}
.contents .page_tit h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-title);
}
@media screen and (max-width:1320px){
    .snb ul {
        max-width: 100%;
        margin: 0 var(--wrapper-margin);
    }
}
@media screen and (max-width:1024px){
    .sub_visual {
        height: 298px;
    }
    .sub_visual .sub_tit {
        margin: 10px 0 36px 0;
        font-size: 2.8rem;
    }
    .snb {
        height: 51px;
    }
    .snb ul {
        overflow-y: hidden;/* 위아래 스크롤 바는 숨김 */
        overflow-x: auto; /* 좌우 스크롤바 생성 */
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .snb ul::-webkit-scrollbar {
        display: none;
    }
    .snb ul li a {
        line-height: 30px;
        /* 높이 51 - 행간 30px 상단여백 20px 하단 11px */
        padding: 13px 15px 8px 15px;
    }
    .snb ul li.active a span::after {
        bottom: -12px;
    }
    .contents {
        min-height: 400px;
    }
    .contents .page_tit {
        margin: 43px 0 39px 0;
    }
    .contents .page_tit h2 {
        font-size: 28px;
    }
}

/* table 공통 스타일 */
.table_wrap {
    overflow-x: auto;
}
.table_wrap table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    /* 테이블에는 각 칸의 테두리를 th, td의 border로 줌 
     이때 각 칸과 칸 사이여 여백 발생 그 여백을 없애고
     칸과 칸사이에 선이 중첩되서 두배가 되는 현상도 막아줌
     이건 오직 테이블에만 가능한 속성 */
    border-top: 2px solid var(--color-title);
}
.table_wrap table th,
.table_wrap table td {
    border: 1px solid #ccc;
    padding: 7px 5px 3px 5px;
}
/* 
    <tr>
        <th></th>   ---- th:first-child 
        <td></td>  --td:first-child XXXXXXX (아님)
    </tr>
    <tr>
        <td></td>   ---- td:first-child
        <td></td>
    </tr>
    맨처음에 나오는 태그가 th일수도 있고 td일수도 있어서
*/
.table_wrap table th:first-child,
.table_wrap table td:first-child {
    border-left: 0;
}
.table_wrap table th:last-child,
.table_wrap table td:last-child {
    border-right: 0;
}
.table_wrap table thead th,
.table_wrap table thead td {
    background-color: #F7F7F7;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-title);
    padding: 12px 5px 7px 5px;
    text-align: center;
}
.table_wrap table tbody th {
    background-color: #F7F7F7;
    font-weight: 700;
    color: var(--color-title);
    text-align: left;
    padding-left: 20px;
}
.table_wrap table tbody td {
    text-align: center;
}
.table_wrap.count table tbody td {
    text-align: right;
    padding-right: 15px;
}